#users-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
  }
  
  @media (max-width: 1000px) {
    #users-container {
      flex-direction: column;
    }
  
    #users-container main {
      margin-left: 0;
    }
  
    #users-container aside {
      width: 100%;
    }
  }

  main {
    width: 100%;
    height: 100vh;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
  }
  
  main strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
  }